@import url("https://fonts.googleapis.com/css2?family=Nerko+One&display=swap");





/* .btn-transparent{
  background-color: white;
  width: 400px;
}

.btn-transparent:hover{
  background-color: #DEDEDE;
}
 */



