.my-results-prompt{
    background: url('../../images/find_results_4.png') no-repeat center center /cover;
    height: 100vh;
    max-height: 100vh;
    padding: 170px 80px;
}

.who-is-my-bff{
    font-family: 'Nerko One', cursive;
    font-size: 150px;
    color: white;
    width: 650px;
    text-transform: uppercase;
}

.results-input{
    width: 400px;
    height: 300px;
}

.code-input, .pin-input {
    margin: 10px 0px;
    height: 50px;
    font-size: 30px;
}

.no-results-msg {
    font-family: "Nerko One", cursive;
    font-size: 80px;
    width: 700px;
    color: white;
    padding: 100px 80px;
}

.no-results {
    background: url('../../images/no_results.png') no-repeat center center /cover;
    height: 100vh;
    padding: 40px 0px;
}

.my-results {
    background: url('../../images/results.png') no-repeat center center /cover;
    height: 100vh;
    padding: 100px 100px;
}


.result-card{
    height: 500px;
    background-color: white;
    border-radius: 10px;
    width: 450px;
    box-shadow: 2px 2px 10px 3px #DEDEDE;
    text-align: center;
    padding-top: 10px;
}

.owner-name{
    font-family: "Nerko One", cursive;
    font-size: 50px;
    color: #A98AEB;
}