.for-background {
    background:  url('../../images/gradient_only_3.png') no-repeat center center /cover;
    height: 100vh;
}



.result-score {
    width: 800px;
    height: 500px;
    max-height: 500px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-shadow: 4px 4px 10px 3px #DEDEDE;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.friends-header{
    font-size: 40px;
}

.friends-score {
    background-image: linear-gradient(315deg, #B7FFFF  0%, #C79AFF 74%);
    color: white;
    text-align: center;
    padding: 40px 0px; 
    font-family: "Nerko One", cursive;  
}

.circle-score{
    border-radius: 50%;
    height: 100px;
    width: 100px;
    background-color: white;
    margin: auto;
    line-height: 100px;
}

.big-score{
    font-size: 80px;
    color: #C79AFF;
    margin: auto;
    font-family: "Nerko One", cursive;
}

.small-score{
    font-size: 30px;
}

.lb-header{
    text-align: center;
    font-family: "Nerko One", cursive;
    font-size: 40px;
    color: #C79AFF;
}

.lb-score{
    border-radius: 50%;
    height: 30px;
    width: 30px;
    background-color: #90D8FF;
    color: white;
    line-height: 30px;
    margin: auto;
}

.leaderboard {
    border-left: none;
    text-align: center;
    padding-top: 40px;   
    height: 500px;
    overflow: scroll;
}

.leaderboard-table{
    width: 100%;
}

.table-row{
    height: 40px;
}

.error-404{
    height: 100vh;
    background: url('../../images/404.png') no-repeat center center /cover;
}