.invite-friends{
  height: 100vh;
  background: url('../../images/invite-link.png') no-repeat center center/ cover;
  max-height: 100vh;
  padding: 150px 80px 0px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
  'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: gray;
}

.invite-header{
    font-weight: bold;
    font-family: 'Nerko One', cursive;
    width: 600px;
    line-height: 80px;
    font-size: 100px;
  }

.results {
  margin-top: 150px;
}

.result-code{
  font-weight: bold;
  font-size: 60px;
}