.enter-container{
    background: url('../../../images/friend_prompt.png') no-repeat center center /cover;
    height: 100vh;
}

.btn-blue{
    font-size: 25px;
    background-color: #6EB5FF;
    color: white;
  }

.enter-friend-name{
    height: 50px;
    display: flex;
    margin-top: 50px;
}

.enter-name-input{
    font-size: 30px;
}

.header{
    font-family: 'Nerko One', cursive;
    font-size: 100px;
    width: 500px;
    color: white;

}

.enter-container{
    padding: 150px 140px;
}