@import url("https://fonts.googleapis.com/css2?family=Nerko+One&display=swap");

.App {
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.hero {
  height: 100vh;
  background: url('./images/hero_edit_3.png') no-repeat center center/ cover;
}

.hero-header{
  position: absolute;
  top: 20%;
  left: 10%;
  color: white;
  font-weight: bold;
  font-family: 'Nerko One', cursive;
  height: 100vh;
  font-size: 150px;
}

.hero-description{
  font-size: 25px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: white;
  width: 300px;
}

.pink-button{
  font-size: 25px;
  background-color: #FFB7D5;
  color: white;
}

.card {
  min-height: 500px;
  height: 100%;
  width: 450px;
  /* background-color: pink; */
  color: white;
  border-radius: 5px;
  margin: auto;
  padding: 10px;
}

.text-area{
  width: 400px;
}

.secondary{
  background-color: blanchedalmond !important;
  color: blanchedalmond !important;
}

.question-dropdown{
  margin-top: -6px;
  width: 400px;
}

.question-dropdown-menu{
  width: 400px;
}

.btn-transparent{
  background-color: white;
  width: 400px;
}

.btn-transparent:hover{
  background-color: #DEDEDE;
}

.answer-option{
  width: 350px;
  border-radius: 6px;
}

.premade-question{
  overflow: scroll;
}

.colors{
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 1px solid white;
}
